i{

margin:5px;
 font-size: 30px;

}


section{
margin:10px;



}
body{
/*
background: -webkit-linear-gradient(left,yellow,red);
background: -o-linear-gradient(right,yellow,red);
background: -moz-linear-gradient(right,yellow,red);
*/
background: linear-gradient(to bottom,#b5b5ff,#e1b5ff);

  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

color:white;
/*text-shadow: 0.1em 0.1em 0.3em black*/

}
a{
color:white;


}
a:hover{
text-decoration: none;
color:white;
}

img.profile{

border-radius: 100px;
max-width: 100%;
width:200px;
margin:20px;

}